a:hover{color:green ;}
body,main{
    display: flex;
}
body{
    flex-direction: column;
}
main{flex: auto;}
aside{flex: 1;}
article{flex: 3;}

/*全局样式*/
*{
    background: url(sky-1.png) no-repeat;
    margin: 0px; 
    background-size: 100% 100%;
    background-attachment: fixed;
   } 
/*body样式*/
body{
    background-color: rgb(69, 85, 114);
}
/*顶部样式*/
header{
    
}
/*左边样式*/
aside{
    background-color: rgb(36, 81, 117);
}
/*设置字体颜色*/
h1,h2,h3,p{
    color: rgb(175, 186, 196);
}
/*设置bilibili视频样式*/
.bilibili{
    width:800px;
    height:600px;
}
/*去掉无序列表项目符号*/
ul{
    list-style-type: none;
}
